body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 56px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px; 
}

    .sidebar a {
        color: #000000;
        display: block;
        padding: 10px;
        text-decoration: none;
        font-size:18px;
    }

        .sidebar a:hover {
            background-color: #4800ff;
            color: #fff;
        }

.content {
    margin-left: 300px; 
    padding: 10px;
}

.navbar-custom {
    padding: 0 15px;
}

    .navbar-custom .nav-item {
        margin-left: auto;
    }
